@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  @apply max-w-7xl  mx-auto overflow-hidden relative px-4 sm:px-8 lg:px-12;
}
.title {
  @apply text-4xl text-center transition-all hover:opacity-80 font-semibold cursor-pointer block;
}
* {
  @apply scroll-smooth;
}
